.details-container-four{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
  }
  .headAndReset{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .containing-odd-four {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: yellowgreen;
    width: 15rem;
    height: 15rem;
  }
  .div-container-four{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: yellowgreen;
    width: 10rem;
    height: 10rem;
    font-weight: 900;
    font-size: larger;
  }
  
  .containing-identical-four {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: yellowgreen;
    width: 15rem;
    height: 15rem;
    
  }