.height-container-two{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem;
    gap: 7rem;
}
.headAndReset{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
.height-higher-two{
    width: 2rem;
    height: 15rem;
    background-color: skyblue;
}

.height-shorter-two{
    width: 2rem;
    height: 7rem;
    background-color: skyblue;
}