.positionOneContainer{
  position: relative
}
.position-container-one{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15rem;
  }
  .headAndReset{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .below-one {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: orange;
    width: 5rem;
    height: 5rem;
    position: absolute;
    margin: 300px 0px 55px 0px;
  }
  
  .above-one {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: orange;
    width: 5rem;
    height: 5rem;
    position: absolute;
    margin: 55px 0px 300px 0px;
    
  }