.quantity-container-two{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 70rem;
    height: 20rem;
    gap: 5rem;

  }
  .headAndReset{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

 
  .quant-two-less .quant-two-div-container #div, 
  .quant-two-more .quant-two-div-container #div{
     width: 2rem;
     height: 2rem;
     border-radius: 50%;
     background-color: yellowgreen;
  }

  .quant-two-less{
   position: relative;
   background-color: lightcoral;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 5px solid yellowgreen;
    padding: 4rem;

 }

 .quant-two-more{
   position: relative;
   background-color: lightcoral;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 5px solid yellowgreen;
    padding: 4rem;

 }

 .quant-two-div-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
 }