.shape-container-one{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10rem;
  }
  .headAndReset{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .shape-one-straight-lined {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: lightgreen;
    width: 10rem;
    height: 10rem;
  }
  
  .shape-one-rounded {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: lightgreen;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }