.size-container-intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10rem;
  }
  .headAndReset{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .size-smaller-intro {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: yellow;
    width: 5rem;
    height: 5rem;
  }
  
  .size-bigger-intro {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: yellow;
    width: 10rem;
    height: 10rem;
  }